<a href="https://colab.research.google.com/github/aparnake/mysql-teradata/blob/master/Praful.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
count=0
while (count<5):
  count=count+1
  if count==2:
    continue
  print("Count's value is ",count)

Count's value is  1
Count's value is  3
Count's value is  4
Count's value is  5

In [8]:
for i in ('Aparna'):
  print(i)

A
p
a
r
n
a

In [9]:
print('I live in ')
for i in range(10):
  print('mumbai',i)

I live in
mumbai 0
mumbai 1
mumbai 2
mumbai 3
mumbai 4
mumbai 5
mumbai 6
mumbai 7
mumbai 8
mumbai 9

In [11]:
sum=0
for i in range(20):
  sum=sum+i
  print('The sum value is: ',sum)
print('The sum value is: ',sum)

The sum value is:  0
The sum value is:  1
The sum value is:  3
The sum value is:  6
The sum value is:  10
The sum value is:  15
The sum value is:  21
The sum value is:  28
The sum value is:  36
The sum value is:  45
The sum value is:  55
The sum value is:  66
The sum value is:  78
The sum value is:  91
The sum value is:  105
The sum value is:  120
The sum value is:  136
The sum value is:  153
The sum value is:  171
The sum value is:  190
The sum value is:  190

In [15]:
import random
random.randint(-66,-1)

-4

In [22]:
import random
num1=int(input('number1: '))
num2=int(input('number2: '))
random.randint(num1,num2)

number1: 45
number2: 67

63

In [2]:
for i in ('Aparna'):  
  print(i)

A
p
a
r
n
a

In [3]:
def name():
  print('My name is Aparna')
  print('Im learning Python')
name()

My name is Aparna
Im learning Python

In [5]:
def displayname(name):
  print('Hello '+name)
x=input('Please enter your name')
displayname(x)

Please enter your nameAparna
Hello Aparna

In [10]:
def increment(number):
  return(number+1)

print(increment(10))

11

In [19]:
print('Menu')
print("1.add 2.subtract 3.multiply 4.subtract ")
choice=input('Please enter your choice')

def add():
  num1=int(input('Please enter number 1: '))
  num2=int(input('Please enter number 2: '))
  result=num1+num2
  print('The sum of the two numbers is: ',result)

def sub():
  num1=int(input('Please enter number 1: '))
  num2=int(input('Please enter number 2: '))
  result=num1-num2
  print('The result of the two numbers is: ',result)

def mult():
  num1=int(input('Please enter number 1: '))
  num2=int(input('Please enter number 2: '))
  result=num1*num2
  print('The product of the two numbers is: ',result)

def div():
  num1=int(input('Please enter number 1: '))
  num2=int(input('Please enter number 2: '))
  result=num1/num2
  print('The div of the two numbers is: ',result)

if choice=='1':
  add()
elif choice=='2':
  sub()
elif choice=='3':
  mult()
elif choice=='4':
  div()
else:
  print('Invalid choice')

Menu
1.add 2.subtract 3.multiply 4.subtract
Please enter your choice2
Please enter number 1: 4
Please enter number 2: 3
The result of the two numbers is:  1

In [20]:
def greatest():
  num1=int(input('Please enter number 1: '))
  num2=int(input('Please enter number 2: '))
  if num1>num2:
    print('The greater number is: ',num1)
  else:
    print('The greater number is: ',num2)
greatest()

Please enter number 1: 45
Please enter number 2: 67
The greater number is:  67

In [23]:
num1=int(input('Please enter number 1: '))
num2=int(input('Please enter number 2: '))
def greatest(num1,num2):
  if num1>num2:
    print('The greater number is: ',num1)
  else:
    print('The greater number is: ',num2)
greatest(num1,num2)

Please enter number 1: 34
Please enter number 2: 56
The greater number is:  56

In [36]:

def sum1():
  sum=0
  for i in range(10):
    sum=sum+i
    print('sum value is: ',sum)
sum1()

sum value is:  0
sum value is:  1
sum value is:  3
sum value is:  6
sum value is:  10
sum value is:  15
sum value is:  21
sum value is:  28
sum value is:  36
sum value is:  45

In [5]:
import random
num1=int(input('Enter number 1: '))
num2=int(input('Enter number 2: '))
def generator (num1,num2):
  result=random.randint(num1,num2)
  print(result)
generator(num1,num2)

Enter number 1: 10
Enter number 2: 20
18

In [12]:
num=int(input('Enter number: '))
def check (num):
  if num>0:
    print('The number is a positive number')
  elif num<0:
    print('The number is a negative number')
  else:
    print('The number is 0')
check(num)

Enter number: 0
The number is 0

In [15]:
def div(denominator):
  try:
    print(70/denominator)
  except:
    print('Error: You have tried dividing by 0')
div(7)
div(0)
div(2)

10.0
Error: You have tried dividing by 0
35.0

In [18]:
games=input('How many games do you have?: ')
try:
  if (int(games)>5):
    print('That is quite a number')
  else:
    print('That is not too many')
except ValueError:
  print('Please input a number')

How many games do you have?: ten
Please input a number

In [ ]:
import random

name = ''
difficulty = 'E'
guess = 0
guessed_number = 0

def userinfo():
  global name
  name = input("Hello, welcome to the game, Please enter your Name")
  print("WELCOME "+name+" Let's Get Started!")


def playgame():
  global guess
  global guessed_number
  random_number = random.randint(0,20)
  counter = 0

  while(counter<guess):
    guessed_number = int(input("Please take a guess"))
    if(guessed_number < random_number):
      print("Your guess is too low")
      counter = counter + 1
    elif(guessed_number > random_number):
      print("YOur guess is too high, Try again")
      counter = counter + 1
    else:
      break #he / she guessed it right
  
  if(guessed_number == random_number):
    print("Congrats, you guessed it right, the number is ",random_number)
    print("The number of guesses you took :", counter)
  else:
    print("Sorry, you have ran out of Guesses. The Number was",random_number)



def applysettings():
  global guess
  if(difficulty == 'E'):
    print("Hey, you have chosen Easy Difficulty. YOU have 8 Guesses.")
    guess = 8
  elif(difficulty == 'M'):
    print("Medium Difficulty!! YOu will get 6 Guesses")
    guess = 6
  else:
    print("YOu have chosen Hardest Difficulty, GOOD LUCK! only 3 Guesses")
    guess = 3
  playgame()

def startgame():
  global difficulty
  userinfo()
  print("Please choose a Difficulty. By default difficulty is Easy. Enter E for Easy, or M for Medium and H for Hard")
  difficulty = input()
  applysettings()

startgame()

In [35]:
import random

name=' '
difficulty='E'
guess=0
guessed_number=0


def userinfo():
  global name
  global difficulty
  name=input('Hello! Welcome to the Game. Please enter your name: ')
  print('Hello '+name+' Lets get started')
  print('Please choose a difficulty. By default difficulty is easy. Enter M for Medium and H for High')
  difficulty=input()

userinfo()

def applysettings():
  global guess
  if difficulty=='E':
    print('Hey! You have chosen easy difficulty. You have 8 guesses')
    guess=8
  elif difficulty=='M':
    print('Hey! You have chosen medium difficulty. You have 6 guesses')
    guess=6
  else:
    print('You have only 3 guesses')
    guess=3

applysettings()

def playgame():
  random_number=random.randint(0,20)
  counter=0

  while (counter<guess):
    guessed_number=int(input('Please take a guess between 0 and 20: '))
    if (guessed_number<random_number):
      print('Your guessed number is too low')
      counter=counter+1
    elif (guessed_number>random_number):
      print('Your guessed number is too high')
      counter=counter+1
    else:
      break

  if (guessed_number==random_number):
    print('Congrats! Your guess is correct. The number is: ',random_number)
    print("The number of guesses you took :", counter)
  else:
    print('Sorry You ran out of guesses. The number was: ',random_number)

playgame()

Hello! Welcome to the Game. Please enter your name: Ram Sharan
Hello Ram Sharan Lets get started
Please choose a difficulty. By default difficulty is easy. Enter M for Medium and H for High
E
Hey! You have chosen easy difficulty. You have 8 guesses
Please take a guess between 0 and 20: 14
Your guessed number is too high
Please take a guess between 0 and 20: 8
Your guessed number is too low
Please take a guess between 0 and 20: 9
Congrats! Your guess is correct. The number is:  9
The number of guesses you took : 2

In [49]:
num1=int(input('Enter number 1: '))
num2=int(input('Enter number 2: '))

def rangesum(num1,num2):
  sum=0
  for i in range(num1,num2+1,5):
    sum=sum+i
  print('The sum is: ',sum)
  
rangesum(num1,num2)

Enter number 1: 5
Enter number 2: 10
The sum is:  15

In [53]:
num1=int(input('Enter number 1: '))
num2=int(input('Enter number 2: '))
increment=int(input('Enter increment value: '))
def rangesum(num1,num2):
  sum=0
  for i in range(num1,num2+1,increment):
    sum=sum+i
  print('The sum is: ',sum)
  
rangesum(num1,num2)

Enter number 1: 1
Enter number 2: 4
Enter increment value: 1
The sum is:  10

In [65]:
num1=int(input('Enter number 1: '))
num2=int(input('Enter number 2: '))

def rangesumeven(num1,num2):
  sum=0
  for i in range(num1,num2+1):
    if i%2==0:
      sum=sum+i
  print('The sum of all even numbers between',num1,'and', num2,'is:',sum)
  
rangesumeven(num1,num2)

Enter number 1: 12
Enter number 2: 23
The sum of all even numbers between 12 and 23 is: 102

In [67]:
num1=int(input('Enter number 1: '))
num2=int(input('Enter number 2: '))

def rangesumodd(num1,num2):
  sum=0
  for i in range(num1,num2+1):
    if i%2!=0:
      sum=sum+i
  print('The sum of all odd numbers between',num1,'and', num2,'is:',sum)
  
rangesumodd(num1,num2)

Enter number 1: 1
Enter number 2: 3
The sum of all odd numbers between 1 and 3 is: 4

In [77]:
num1=int(input('Enter number 1: '))
num2=int(input('Enter number 2: '))

def rangesum(num1,num2):
  even_sum=0
  odd_sum=0
  counter1=0
  counter2=0
  for i in range(num1,num2+1):
    if i%2==0:
      even_sum=even_sum+i
      counter1=counter1+1
    else:
      odd_sum=odd_sum+i
      counter2=counter2+1
  print('The sum of all even numbers between',num1,'and', num2,'is:',even_sum)
  print('The total even numbers is:',counter1)
  print('The sum of all odd numbers between',num1,'and', num2,'is:',odd_sum)
  print('The total even numbers is:',counter2)
  
rangesum(num1,num2)

Enter number 1: 1
Enter number 2: 3
The sum of all even numbers between 1 and 3 is: 2
The total even numbers is: 1
The sum of all odd numbers between 1 and 3 is: 4
The total even numbers is: 2

In [12]:
number_entered=int(input('Please enter a number to be searched: '))
placenum_found=-1
list=[1,25,38,41,50]
def linear_search():
  for i in range(0,5,1):
    if number_entered==list[i]:
      placenum_found=i
      break
  if placenum_found==-1:
    print("The number is not found")
  else:
    print('The number is found at: ',str(placenum_found))

linear_search()

Please enter a number to be searched: 25
The number is found at:  1

In [ ]:
number_entered=int(input('Please enter a number to be searched: '))
placenum_found=-1
list=[1,25,38,41,50]
def linear_search():
  for i in range(0,5,1):
    if number_entered==list[i]:
      placenum_found=i
      break
  if placenum_found==-1:
    print("The number is not found")
  else:
    print('The number is found at: ',str(placenum_found))

linear_search()

In [ ]:
#praful easy
import random

print(" HEllo Welcome to the Game, Please enter your name")
name = input()
print("Hell "+name+" Let's play the Game. YOu have to Guess the correct Number")

difficulty = input("Please enter a difficulty. Choose 'E' for Easy, 'M' for Medium and ' H' For Hardest Difficulty")

if(difficulty == "E"):
    print("you have chose Easy settings. YOu have 8 Guesses")
    total_guess = 8
elif(difficulty=="M"):
    print("You have chosen the Medium setting. You will get 6 Guesses")
    total_guess = 6
else:
    print("you have chosen Hard difficulty, you get 3 Guesses only")
    total_guess = 3
    
guess_used = 0

random_num = random.randint(0,20)



while(guess_used<total_guess):
    guessed_num = int(input("please enter the number. Take your Guess"))
    
    if(guessed_num > random_num):
        print("Your Guess is too high, try again")
        guess_used = guess_used+1
    
    elif(guessed_num < random_num):
        print("your guess is too low Try again")
        guess_used = guess_used+1
        
    else:
        break  #Right Guess 
    
if(guessed_num == random_num):
    print("Congrats, you got it right. the Number was: ",random_num)
    print("total guesses taken by you: ",guess_used)
else:
    print("Sorry, you lost. All guesses used up!, The number was: ",random_num)

In [ ]:
)

In [9]:
user_name=input('Please enter your user name: ')

def details():
  try:
    phone_number=int(input('Please enter your phone number'))
    print('Your user name is: ',user_name)
    print('Your phone number is: ', phone_number)
  except:
    print('Please enter number for phone number')
details()

Please enter your user name: ajshdhd
Please enter your phone number356474
Your user name is:  ajshdhd
Your phone number is:  356474

In [15]:
mylist=[123,'aparna',334,'abc',36454,'agagdfd']
print(mylist[0],mylist[3])

123 abc

In [17]:
mylist2=[[1,2,3,4,5],['aba','dhdhd','dhdhd']]
print(mylist2)

[[1, 2, 3, 4, 5], ['aba', 'dhdhd', 'dhdhd']]

In [22]:
mylist3=[[1,2,3,4,5],['aba','dhdhd','dhdhd']]
print(mylist3[0][-3])

3

In [25]:
mylist4=[['animal','horse'],['dog','cat']]
print('My '+mylist4[0][0]+' is '+mylist4[1][0])

My animal is dog

In [27]:
my_pets=['dog','cat','horse']
new_pets=my_pets
print(new_pets[0:3])

['dog', 'cat', 'horse']

In [28]:
my_pets=['dog','cat','horse']
my_pets[0:3]=[1,2,3]
new_pets=my_pets
print(new_pets)

[1, 2, 3]

In [35]:
my_items=['cpu','mouse','keyboard']
print(my_items[:3])
print(my_items[1:])
del my_items[1]
print(my_items)
len (my_items)
print(my_items*3)

['cpu', 'mouse', 'keyboard']
['mouse', 'keyboard']
['cpu', 'keyboard']
['cpu', 'keyboard', 'cpu', 'keyboard', 'cpu', 'keyboard']

In [37]:
my_items=['cpu','mouse','keyboard']
my_itemsnew=['pen','pencil','eraser']
my_combinedlist=my_items+my_itemsnew
print(my_combinedlist)

['cpu', 'mouse', 'keyboard', 'pen', 'pencil', 'eraser']

In [39]:
list('Aparna')

['A', 'p', 'a', 'r', 'n', 'a']

In [41]:
my_items1=['cpu','mouse','keyboard']
print('sharperner'in my_items1)
print('sharperner'not in my_items1)

False
True

In [43]:
shoppinglist=[]
for i in range(0,5):
  items=input('Please say what you want?: ')
  shoppinglist.append(items)
print(shoppinglist)

Please say what you want?: apple
Please say what you want?: banana
Please say what you want?: strawberry
Please say what you want?: blueberry
Please say what you want?: mango
['apple', 'banana', 'strawberry', 'blueberry', 'mango']

In [45]:
cart1=[]
while True:
  item=input('Add something to your cart: ')
  cart1.append(item)
  choice=input('Do you want to add more? Say "Y" for yes and "N" for no')
  if choice=='N':
    break

print('These are your items: ',cart1)
total_items=len(cart1)
total_cost=total_items*4

print('Your total bill amount= $ ',total_cost)

Add something to your cart: apple
Do you want to add more? Say "Y" for yes and "N" for noY
Add something to your cart: banana
Do you want to add more? Say "Y" for yes and "N" for noY
Add something to your cart: strawberry
Do you want to add more? Say "Y" for yes and "N" for noY
Add something to your cart: mango
Do you want to add more? Say "Y" for yes and "N" for noN
These are your items:  ['apple', 'banana', 'strawberry', 'mango']
Your total bill amount= $  16

In [52]:
list (range(0,20))
list('abc')

['a', 'b', 'c']

In [53]:
collection=list(range(0,20))
print(collection)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
mybooks=['a','b','c']
for i in range (len(mybooks)):
  print('I have: ',mybooks[i])

I have:  a
I have:  b
I have:  c

In [63]:
mypc=['a','b','c','d','e']
company,model,ram,ssd,gpu=mypc
print(model)

b

In [9]:
list1=[1,2,3,4,5]
def sum1():
  sum=0
  for i in range (len(list1)):
    sum=sum+list1[i]

  print(sum)
sum1()

15

In [15]:
mythings=['apple','banana','mango']
mythings.index('apple')
mythings.index(0)
print(mythings)

ValueError: ignored

In [18]:
mybooks=['a','b','c','d']
mybooks.append('e')
print(mybooks)
mybooks.insert(2,'f')
print(mybooks)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'f', 'c', 'd', 'e']

In [22]:
mybooks1=['a','b','c','d']
mybooks1.remove('b')
print(mybooks1)
del mybooks1[0]
print(mybooks1)

['a', 'c', 'd']
['c', 'd']

In [29]:
numbers=[1,2,3,1,5,8,6,9,7]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

letters=['a','b','e','d','c']
letters.sort()
print(letters)
letters.sort(reverse=True)
print(letters)

[1, 1, 2, 3, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 3, 2, 1, 1]
['a', 'b', 'c', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

In [34]:
mychoice={'name':'edgar','color':'brown','breed':'dog'}
print(mychoice)
print(mychoice['name'])

{'name': 'edgar', 'color': 'brown', 'breed': 'dog'}
edgar

In [35]:
mychoice={1:'edgar','color':'brown','breed':'dog'}
print(mychoice[1])

edgar

In [39]:
mychoice1={'name':'edgar','color':'brown','breed':'dog'}
mychoice2={'color':'brown','name':'edgar','breed':'dog'}
print(mychoice1==mychoice2)

list1=[1,2,3,4,5]
list2=[2,3,4,5,5]
print(list1==list2)

True
False

In [43]:
mychoice1={'name':'edgar','color':'brown','breed':'dog'}
print('name' in mychoice1)
print('name1' in mychoice1)
print('name' not in mychoice1)
print('name' not in 'edgar')

True
False
False
True

In [49]:
mychoice1={'name':'edgar','color':'brown','breed':'dog'}
print(mychoice1.keys())
print(mychoice1.values())
print(mychoice1.items())

print(list(mychoice1.keys()))
print(list(mychoice1.values()))
print(list(mychoice1.items()))

dict_keys(['name', 'color', 'breed'])
dict_values(['edgar', 'brown', 'dog'])
dict_items([('name', 'edgar'), ('color', 'brown'), ('breed', 'dog')])
['name', 'color', 'breed']
['edgar', 'brown', 'dog']
[('name', 'edgar'), ('color', 'brown'), ('breed', 'dog')]

In [59]:
mychoice1={'name':'edgar','color':'brown','breed':'dog'}
for i in mychoice1.keys():
  print(i)

mychoice1={'name':'edgar','color':'brown','breed':'dog'}
for i in mychoice1.values():
  print(i)

mychoice1={'name':'edgar','color':'brown','breed':'dog'}
for i,t in mychoice1.items():
  print(i,t)

print('name' in mychoice1.keys())

name
color
breed
edgar
brown
dog
name edgar
color brown
breed dog
True

In [63]:
mychoice1={'name':'edgar','color':'brown','breed':'dog'}
if ('name' in mychoice1.keys()):
  print('It is there')

mychoice1.get('name',0)
mychoice1.get('NAME',0)

It is there

0

In [71]:
mychoice1={'name':'edgar','color':'brown','breed':'dog'}
if ('age' not in mychoice1.keys()):
  mychoice1['age']=5
  print(mychoice1)

  mychoice1.setdefault('legs',4)
  print(mychoice1)

{'name': 'edgar', 'color': 'brown', 'breed': 'dog', 'age': 5}
{'name': 'edgar', 'color': 'brown', 'breed': 'dog', 'age': 5, 'legs': 4}

In [73]:
count={}

string='Hello. This is a sample text.'

for i in string:
  count.setdefault(i,0)
  count[i]=count[i]+1
  
print(count)

{'H': 1, 'e': 3, 'l': 3, 'o': 1, '.': 2, ' ': 5, 'T': 1, 'h': 1, 'i': 2, 's': 3, 'a': 2, 'm': 1, 'p': 1, 't': 2, 'x': 1}

In [83]:
import pprint
count={}
string1='''
One advanced diverted domestic sex repeated bringing you old. Possible procured her trifling laughter thoughts property she met way. Companions shy had solicitude favourable own. Which could saw guest man now heard but. Lasted my coming uneasy marked so should. Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw. Discourse unwilling am no described dejection incommode no listening of. Before nature his parish boy. 

Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least. 

Another journey chamber way yet females man. Way extensive and dejection get delivered deficient sincerity gentleman age. Too end instrument possession contrasted motionless. Calling offence six joy feeling. Coming merits and was talent enough far. Sir joy northward sportsmen education. Discovery incommode earnestly no he commanded if. Put still any about manor heard. 

Village did removed enjoyed explain nor ham saw calling talking. Securing as informed declared or margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country believe. On even feet time have an no at. Relation so in confined smallest children unpacked delicate. Why sir end believe uncivil respect. Always get adieus nature day course for common. My little garret repair to desire he esteem. 

In it except to so temper mutual tastes mother. Interested cultivated its continuing now yet are. Out interested acceptance our partiality affronting unpleasant why add. Esteem garden men yet shy course. Consulted up my tolerably sometimes perpetual oh. Expression acceptance imprudence particular had eat unsatiable. 

Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug. Introduced imprudence see say unpleasing devonshire acceptance son. Exeter longer wisdom gay nor design age. Am weather to entered norland no in showing service. Nor repeated speaking shy appetite. Excited it hastily an pasture it observe. Snug hand how dare here too. 

Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady. Up greatest am exertion or marianne. Shy occasional terminated insensible and inhabiting gay. So know do fond to half on. Now who promise was justice new winding. In finished on he speaking suitable advanced if. Boy happiness sportsmen say prevailed offending concealed nor was provision. Provided so as doubtful on striking required. Waiting we to compass assured. 

You disposal strongly quitting his endeavor two settling him. Manners ham him hearted hundred expense. Get open game him what hour more part. Adapted as smiling of females oh me journey exposed concern. Met come add cold calm rose mile what. Tiled manor court at built by place fanny. Discretion at be an so decisively especially. Exeter itself object matter if on mr in. 

Effect if in up no depend seemed. Ecstatic elegance gay but disposed. We me rent been part what. An concluded sportsman offending so provision mr education. Bed uncommonly his discovered for estimating far. Equally he minutes my hastily. Up hung mr we give rest half. Painful so he an comfort is manners. 

Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add. She cordially behaviour can attempted estimable. Trees delay fancy noise manor do as an small. Felicity now law securing breeding likewise extended and. Roused either who favour why ham. 

'''
for i in string1:
  count.setdefault(i,0)
  count[i]=count[i]+1
  
pprint.pprint(count)

{'\n': 21,
 ' ': 612,
 '.': 82,
 'A': 6,
 'B': 4,
 'C': 4,
 'D': 4,
 'E': 9,
 'F': 3,
 'G': 2,
 'H': 1,
 'I': 7,
 'J': 1,
 'L': 1,
 'M': 3,
 'N': 3,
 'O': 3,
 'P': 5,
 'R': 3,
 'S': 7,
 'T': 3,
 'U': 5,
 'V': 1,
 'W': 6,
 'Y': 1,
 'a': 239,
 'b': 38,
 'c': 106,
 'd': 153,
 'e': 413,
 'f': 62,
 'g': 67,
 'h': 90,
 'i': 221,
 'j': 12,
 'k': 14,
 'l': 126,
 'm': 100,
 'n': 246,
 'o': 229,
 'p': 72,
 'q': 5,
 'r': 201,
 's': 203,
 't': 210,
 'u': 92,
 'v': 36,
 'w': 55,
 'x': 14,
 'y': 80}

In [2]:
employees=[
            {
              'name':'Praful',
              'Designation':'Trainer',
              'Age':22,
              'salary': 30000
            },
            {
              'name':'Anu',
              'Designation':'Trainee',
              'Age':22,
              'salary': 10000
            },
            {
              'name':'Swatcat',
              'Designation':'Assitant',
              'Age':22,
              'salary': 20000
            }
             

          ]

def search(name):
  for p in employees:
    if p['name']==name:
      return p



def search2(name,ip1):
  for p in employees:
    if p['name']==name:
      return p[ip1]


name = input("Who's record do you want?")
print("searching...")

choice = input("DO you want all relevant info?")

if choice=='yes':
  print(search(name))
else:
  print("Enter specific info needed")
  print("Age, Designation,Salary")
  ip1=input()
  print(search2(name,ip1))

Who's record do you want?Praful
searching...
DO you want all relevant info?no
Enter specific info needed
Age, Designation,Salary
salary
30000

In [6]:
print('hello, how are you doing?')
#print('hello, how's you?'')
print('hello, how\'s you?')

hello, how are you doing?
hello, how's you?

In [8]:
print('hello, how are you doing? \nHow is your health')

hello, how are you doing?
How is your health

In [11]:
print(r'These are my cat\'s')

These are my cat\'s

In [12]:
message='''
bcvfh
bcbbcb
cncnncn
'''
print(message)

bcvfh
bcbbcb
cncnncn

In [16]:
string='Hello, how are you?'
string[5]
'q' not in string
'q' in string

False

In [18]:
string='Hello, how are you?'
print(string.upper())

string='Hello, how are you?'
print(string.lower())

HELLO, HOW ARE YOU?
hello, how are you?

In [23]:
string='Hello, how are you?'
print(string.islower())
print(string.lower().islower())

False
True

In [24]:
string='Hello, how are you?'
string.isalpha()

False

In [25]:
string='Hello, how are you123?'
string.isalnum()

False

In [28]:
string='Hello, how are you?'
string.isspace()
string='Hello, how are you?'
string.istitle()

False

In [32]:
string='Hello, how are you?'
string.startswith('H')
string.endswith('?')

True

In [36]:
print(('--').join(['My name is Aparna', 'Im a good girl']))

My name is Aparna--Im a good girl

In [38]:
print(('\n\n').join(['Hello','How','are','you?']))

Hello

How

are

you?

In [43]:
hello='Hello How are you?'
print(hello.split('o'))

['Hell', ' H', 'w are y', 'u?']

In [45]:
hello='aparna'
print(hello.ljust(20,'*'))

aparna**************

In [46]:
hello='aparna'
print(hello.replace('a','s'))

spsrns

In [ ]:
cart1=[]
while True:
  item=input('Add something to your cart: ')
  cart1.append(item)
  choice=input('Do you want to add more? Say "Y" for yes and "N" for no')
  if choice=='N':
    break

print('These are your items: ',cart1)
total_items=len(cart1)
total_cost=total_items*4

print('Your total bill amount= $ ',total_cost)

In [50]:
stores={'bread':20,'jam':10,'tape':5}

price=list(stores.values())
sum=0
for i in price:
  sum=sum+i
print(sum)

35

In [51]:
import pandas as pd 
employees = [
              {
                  'name':'Praful',
                  'Designation':'Trainer',
                  'Age':22,
                  'salary': 30000
              },
              {
                  'name':'Anu',
                  'Designation':'Trainee',
                  'Age':22,
                  'salary': 10000
              },
              {
                  'name':'Swatcat',
                  'Designation':'Assitant',
                  'Age':22,
                  'salary': 20000
              }
             

              ]


df=pd.DataFrame(employees)
df2=df[df['name']=='Praful']
print(df2)

     name Designation  Age  salary
0  Praful     Trainer   22   30000